@model BuscaProdutosViewModel

@{
    ViewData["Title"] = "DetalheProduto";
}

@{
    var produto = Model.Produto;
}

<h1>Detalhes do produtos</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <div class="text-center">
            <a asp-controller="Pedido"
               asp-action="carrinho"
               asp-route-codigo="@produto.Codigo"
               class="btn btn-success">Comprar</a>
        </div>
        <div class="div_Produtos">
            <div class="div_ImagemProduto">
                <img src="/images/produtos/large_@(produto.Codigo)_1.jpg" />
                <a asp-controller="Produto" asp-action="DetalheProduto" asp-route-Id="@produto.Id"></a>
            </div>
        </div>
        <div class="div_Produtos">
            <div class="div_ImagemProduto">
                <img src="/images/produtos/large_@(produto.Codigo)_2.jpg" />
                <a asp-controller="Produto" asp-action="DetalheProduto" asp-route-Id="@produto.Id"></a>
            </div>
        </div>
        <div class="div_Produtos">
            <div class="div_ImagemProduto">
                <img src="/images/produtos/large_@(produto.Codigo)_3.jpg" />
                <a asp-controller="Produto" asp-action="DetalheProduto" asp-route-Id="@produto.Id"></a>
            </div>
        </div>
        <div class="div_Produtos">
            <div class="div_ImagemProduto">
                <img src="/images/produtos/large_@(produto.Codigo)_4.jpg" />
                <a asp-controller="Produto" asp-action="DetalheProduto" asp-route-Id="@produto.Id"></a>
            </div>
        </div>
    </dl>

</div>

