@model BuscaProdutosViewModel

@{
    ViewData["Title"] = "DetalheProduto";
}

@{
    var produto = Model.Produto;
}

<form method="post" asp-action="carrinho">
</form>

<div id="div_FotosProduto">
    <div class="div_ImagemProduto" style="float: left; margin: 0 10px 10px 0;">
        <img src="/images/produtos/large_@(produto.Codigo)_1.jpg" />
        <a asp-controller="Produto" asp-action="DetalheProduto" asp-route-Id="@produto.Id"></a>
    </div>

    <div class="div_ImagemProduto" style="float: left; margin: 0 0 10px 0;">
        <img src="/images/produtos/large_@(produto.Codigo)_2.jpg" />
        <a asp-controller="Produto" asp-action="DetalheProduto" asp-route-Id="@produto.Id"></a>
    </div>

    <div class="div_ImagemProduto" style="float: left; margin: 0 10px 10px 0;">
        <img src="/images/produtos/large_@(produto.Codigo)_3.jpg" />
        <a asp-controller="Produto" asp-action="DetalheProduto" asp-route-Id="@produto.Id"></a>
    </div>

    <div class="div_ImagemProduto" style="float: left">
        <img src="/images/produtos/large_@(produto.Codigo)_4.jpg" />
        <a asp-controller="Produto" asp-action="DetalheProduto" asp-route-Id="@produto.Id"></a>
    </div>
</div>

<div id="div_DescricaoProduto">
    <h4><label>@produto.Nome</label></h4>
    <h5><label style="padding-bottom: 30px">@produto.Marca</label></h5>
    <label class="label_Descricao" style="padding-bottom: 30px">@produto.Descricao</label><br />
    <label class="label_Condicao" style="padding-bottom: 50px">Condição</label>
    <label class="label_Descricao" style="padding-bottom: 30px">@produto.Condicao</label><br />
    <label id="label_Preco">R$ @if (produto.Promocao)@produto.PrecoPromocional else @produto.Preco</label><br />
    <label class="label_Descricao" style="padding-bottom: 30px; padding-top: 10px;">Tamanho @produto.Tamanho</label><br />
    <a href="#" data-toggle="modal" data-target="#modalCamisa" style="color:#474747">TABELA DE TAMANHOS</a>

    <br /><br /><br />
    <span class="input-group-btn">
        <button class="btn buttonPrimary" type="submit" style="width: 140px; padding-top: 9px" onclick="carrinho.clickAddProdPedido(@produto.Codigo)">
            COMPRAR
        </button>
    </span>
</div>




@section Scripts
{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/js/carrinho.js"></script>
}