@{ ViewData["Title"] = "Resumo"; }

@model ResumoViewModel;
<h3>Resumo do Pedido</h3>

<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Nº do Pedido: @(Model.pedido.Id)</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>Seus Dados</h3>
                <div>@Model.pedido.Cliente.Nome</div>
                <div>@Model.pedido.Cliente.Telefone</div>
            </div>
            <div class="col-md-3">
                @Model.pedido.Cliente.Email
            </div>
            <div class="col-md-6">
                <h3>Endereço de Entrega</h3>
                <div>@Model.pedido.Cliente.Endereco @Model.pedido.Cliente.Complemento - @Model.pedido.Cliente.Bairro - CEP: @Model.pedido.Cliente.CEP - @Model.pedido.Cliente.Municipio - @Model.pedido.Cliente.UF - Brasil</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <h3>Item</h3>
            </div>
            <div class="col-md-2">
                <h3>Quantidade</h3>
            </div>
        </div>

        @foreach (var item in Model.pedido.ItensPedido)
        {


            <div class="row">
                <div class="col-md-10">
                    <div>@item.Produto.Nome</div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">@item.Quantidade</div>
                </div>
            </div>}

    </div>
</div>
