@{ ViewData["Title"] = "Resumo"; }

@model ResumoViewModel;

<div style="margin: 64px 0 64px 80px">
    <h4>@(Model.pedido.Cliente.Nome), esse é seu resumo.</h4>
</div>

<div style="height: 1500px">

    <div class="div_ClienteCampos" style="height: 220px">
        <div class="div_ClienteTitulo">
            <h4>1. Dados Pessoais</h4>
        </div>

        <div style="padding: 0 25px 0 25px;">
            <div class="form-group col-4" style="float:left">
                <label class="control-label" for="nomeCliente">Nome do Cliente</label>
                <br /><label style="font-weight:600; color:#474747">@(Model.pedido.Cliente.Nome)</label>
            </div>
            <div class="col-4" style="float:left">
                <label class="control-label" for="email">Email</label>
                <br /><label style="font-weight:600; color:#474747">@(Model.pedido.Cliente.Email)</label>
            </div>
            <div class="col-4" style="float:left">
                <label class="control-label" for="telefone">Telefone</label>
                <br /><label style="font-weight:600; color:#474747">@(Model.pedido.Cliente.Telefone)</label>
            </div>
        </div>
    </div>

    <div class="div_ClienteCampos" style="height: 220px">
        <div class="div_ClienteTitulo" style="margin-top: 64px">
            <h4>2. Endereço</h4>
        </div>

        <div style="padding: 0 25px 0 25px;">
            <div class="col-3" style="float:left">
                <label class="control-label" for="endereco">Endereço</label>
                <br /><label style="font-weight:600; color:#474747">@(Model.pedido.Cliente.Endereco) - @(Model.pedido.Cliente.Bairro)</label>
            </div>
            <div class="col-3" style="float:left">
                <label class="control-label" for="complemento">Cidade</label>
                <br /><label style="font-weight:600; color:#474747">@(Model.pedido.Cliente.Municipio)</label>
            </div>
            <div class="col-3" style="float:left">
                <label class="control-label" for="bairro">CEP</label>
                <br /><label style="font-weight:600; color:#474747">@(Model.pedido.Cliente.CEP)</label>
            </div>
            <div class="col-3" style="float:left">
                <label class="control-label" for="municipio">Complemento</label>
                <br /><label style="font-weight:600; color:#474747">@(Model.pedido.Cliente.Complemento)</label>
            </div>
        </div>
    </div>

    <div class="div_ClienteCampos" style="margin-bottom: 64px">
        <div class="div_ClienteTitulo" style="margin-top: 64px">
            <h4>3. Pedido</h4>
        </div>

        <div class="row" id="div_ResumoCabecalhoTabela">
            <div class="col-md-5">
                Identificador
            </div>
            <div class="col-md-2">
                Valor
            </div>
            <div class="col-md-2">
                Quantidade
            </div>
            <div class="col-md-2">
                Total
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="panel-body" id="listaItens">
            @foreach (var item in Model.pedido.ItensPedido)
            {
                <div class="row div_ResumoLinhaProdutoTabela" item-id="@item.Id">
                    <div class="col-md-5" style="padding-top: 5px">@(item.Produto.Nome)</div>
                    <div class="col-md-2" style="padding-top: 5px">R$ @(item.PrecoUnitario)</div>
                    <div class="col-md-2" style="padding-top: 5px">0001</div>
                    <div class="col-md-2" style="padding-top: 5px">
                        R$ <span class="pull-right" subtotal>
                            @(item.Quantidade * item.PrecoUnitario)
                        </span>
                    </div>
                </div>            }
            <label style="color:white">.</label>
        </div>

    </div>

    <div class="div_ClienteCampos" style="height: 260px; width: 30%; float: left">
        <div class="div_ClienteTitulo">
            <h4>4. Custo e Envio</h4>
        </div>

        <div>
            <div class="div_CarrinhoDetalhes">
                <label>Subtotal</label>
                <div class="div_CarrinhoDetalhesValor">
                    R$ <span class="pull-right" total>
                        @(Model.pedido.VlTotalPedido)
                    </span>
                </div>
            </div>

            <div class="div_CarrinhoDetalhes">
                <label>Desconto</label>
                <div class="div_CarrinhoDetalhesValor">
                    R$ <span class="pull-right" total>
                        @(Model.pedido.VlDesconto)
                    </span>
                </div>
            </div>

            <div class="div_CarrinhoDetalhes" style="border-top-style: ridge; padding-top: 20px;">
                <label style="margin-top: 6px;">Total</label>
                <div class="div_CarrinhoDetalhesValor" style="font-size: 20px; font-weight:600">
                    R$ <span class="pull-right" total>
                        @(Model.pedido.VlTotalPedido - Model.pedido.VlDesconto)
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="div_ClienteCampos" style="height: 260px; width:65%; float:right">
        <div class="div_ClienteTitulo">
            <h4>5. Observações</h4>
        </div>

        <div style="padding: 0 40px 0 40px;">
            <label>Para os casos de troca ou devolução segue as seguintes condições:</label><br /><br />
            <label>A solicitação deve ocorrer no máximo em 20 dias úteis após o recebimento do produto e o mesmo ainda deve estar em sua embalagem original, acompanhado da etiqueta e sem danos aparentes. Após a confirmação da solicitação será possível optar pelas seguintes opções: produto do mesmo valor, reembolso/estorno ou vale trocas.</label>
        </div>

    </div>

    <div class="form-group" id="div_ClienteBotoes">
        <span class="input-group-btn" style="float: right; margin-left: 30px; width: 150px">
            <a class="btn buttonPrimary"
                asp-controller="Pedido"
                asp-action="FinalizaPedido" type="submit" style="padding-top: 9px">Continuar</a>
        </span>

        <span class="input-group-btn" style="float:left; width: 130px">
            <a class="btn buttonSecundary" asp-controller="Pedido" asp-action="cliente" type="submit" style="padding-top: 9px">
                Anterior
            </a>
        </span>
    </div>

</div>